// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

 body {
   background: $gray; // Using this variable
 }

.question {
  border-left: 10px solid #DDDDDD;
}

p{
  padding-left: 15px;
}

.answer {
   border-left: 10px solid#DDDDDD;
   background: #FFFDE1;
 }
